ipykernel
gradio
streamlit
tqdm
openai
openai-agents
openai-agents[viz]
ollama
nomic
pydantic
python-dotenv>=1.0.0
azure-search-documents==11.6.0b1
azure-storage-blob
azure-identity
azure-ai-documentintelligence
azure-core
pandas
numpy
IPython
markdown_chunker
markitdown
tqdm